/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.edit-mode {
	height: 40px;
	background-color: black;
	font-size: 15px;
	color: white;
	text-align: center;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 35px 50px;
}
section {
	margin: 50px 0;
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}
h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}
h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
/**rajouté*/
#LoginBtn:hover, li:hover {
	color: #B1663C;
}
#LoginBtn {
	color: black;
	text-decoration: none;
}
/** par moi **/
#introduction {
	display: flex;
	align-items: center;
	padding: 40px 150px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	width: 100%;
	margin: auto;
}
#introduction article {
	flex: 1;
	margin-left: 100px;
}
#introduction h2 {
	margin-bottom: 1em;
	font-size: 35px;
	font-weight:lighter;
}
#introduction p {
	margin-bottom: 0.5em;
	font-size: 16px;
}
#portfolio {
	/* margin: 75px; */
	padding: 40px 150px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 35px;
}
.filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}
.filtres button {
	border-radius: 50px;
	border: 2px solid;
	margin: 5px;
	padding: 10px;
	color: #1D6154;
	font-size: 18px;
	font-weight: 600;
	background-color: white;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.gallery img {
	width: 260px;
	height: 350px;
}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;
}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
input[type="submit"]{
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	margin-top: 0px;
	width: 40%;
	text-align: center;
	border-radius: 60px;
	height: 40px;
	border: none;
	font-size: 17px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/**Page Log in**/

#LoginForm {
	align-items: center;
}
.login-page {
	background-color: rgb(253, 248, 242);
}
.login {
	height: 500px;
	text-align: center;
}
.login h2 {
	margin: 150px 0px 50px;
	font-size: 35px;
}
.input {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.input label {
	font-size: 17px;
	margin-bottom: 8px;
	text-align: left;
}
.input input {
	margin-bottom: 15px;
	font-size: 18px;
	border: 0px;
	height: 50px;
	width: 400px;
	box-shadow: 5px 5px 10px rgb(223, 222, 222);
}
.connect-button {
	font-size: 18px;
	color: white;
	background-color: #1D6154;
	margin: 30px;
	padding: 10px;
	width: 200px;
	border-radius: 50px;
}
.login a {
	font-size: 16px;
	color: black;
}

/**Modale**/

.overlay {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
#modify {
	position: relative;
	top: -70px;
	left: 63%;
	border: 0px;
	background-color: white;
	font-size: 17px;
}
.fa-pencil {
	margin: 10px;
}
#modale {
	position: absolute;
	z-index: 1001;
	left: 33%;
	top: 50px;
	width: 700px;
	height: 700px;
	background-color: white;
	border-radius: 10px;
	text-align: center;
	font-size: 30px;
}
.buttons-modale {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.closeBtn, .closeBtn2, .backBtn {
	margin: 10px;
	border: none;
	background: white;
	height: 50px;
	width: 50px;
	font-size: 18px;
}
.closeBtn {
	margin-left: auto;
}

/**Modale1**/

.modale__img{
	width: 80px;
	height: 110px;
	object-fit: cover;
}
.modale__gallery {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	margin: 10px 100px 40px;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 75px;
}
.modale__gallery span {
	position: relative;
	left: 20px;
	top: 25px;
}
.modale__gallery article {
	width: 83px;
	height: 100px;
	margin-bottom: 25px;
}
.fa-trash {
	background: black;
	color: white;
	font-size: 10px;
	width: 17px;
	height: 15px;
	padding-top: 3px;
}
#addPictureBtn {
	background: #1D6154;
	color: white;
	padding: 10px;
	width: 40%;
	font-size: 16px;
	border-radius: 50px;
	border: none;
}
.fa-arrow-left {
	align-self: flex-start;
}
form {
	display: flex;
	flex-direction: column;
}
.box-add-picture {
	border: 1px solid black;
	background: #cfd6ed;
}
.activeBtn {
	background-color: #1D6154 !important;
	color: white !important;
}

/**Modale2**/

#imageFile {
	display: none;
}
.box-custom-file-input {
	padding: 0;
	height: 164px;
	margin: 40px 100px 30px;
	background-color: rgb(233, 240, 247);
}
.custom-file-input {
	padding: 20px 0px 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}
.custom-file-input i {
	font-size: 65px;
	color: #CBD6DC;
}
.custom-file-input label {
	color: #306685;
	width: 35%;
	font-size: 14px;
	padding: 10px;
	background-color: #CBD6DC;
	border-radius: 30px;
	cursor: pointer;
}
.custom-file-input p {
	font-size: 10px;
	color: #444444;
}
.div-modale {
	display: flex;
	gap: 12px;
	margin: 10px 100px 10px;
	padding: 0px 0px 40px;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #B3B3B3;	
}
.div-modale label {
	text-align: left;
	font-size: 14px;
}
.div-modale input, select {
	padding-left: 15px;
	background-color: white;
	border: none;
	box-shadow: 5px 5px 15px 3px rgb(223, 222, 222);
	width: 100%;
	font-size: 14px;
	color: #575656;
	height: 50px;
	margin-bottom: 15px;
}
.div-modale input {
	width: 96%;
}
.valider-btn {
	background-color: #B3B3B3 !important;
	width: 40% !important;
	font-size: 16px;
	border: none;
}
.upload-picture {
	width: 30%;
	height: 100%;
	margin: 0;
}